<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kidus11.amhtiggeeeng">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>


        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.MainNoTitle"
            android:launchMode="singleTop"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LangaugeActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".Activities.DaysActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".Activities.PrayerFragmentActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".Activities.MezdawitActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".Activities.ZemaActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".Activities.KdaseActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".Activities.AudioActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".Activities.MusicPlayerAct"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".Activities.BottomAudioActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"
            android:launchMode="singleTask"/>

        <service android:enabled="true"
            android:name=".services.AudioService">
        </service>
        <service
            android:name=".services.FirebaseNotifcation"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

            <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />

        </service>


    </application>

</manifest>